form.todo-insert {
  display: flex;
  width: 100%;
  padding: 12px 0;
}

form.todo-insert input {
  flex: 1px;
  font-size: 1rem;
  text-align: center;
  outline: none;
}

form.todo-insert button {
  background-color: peru;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form.todo-insert button:hover {
  background-color: coral;
}
